@media ( max-width:  1200px){

}
@media ( max-width:  991px){
    //______________________________________________Секция "Promo"
    .promo{
        background-position-x: -100px;
    }
    //______________________________________________Секция "Консультация"
    .consultation{
        &__header{
            text-align: center;
            font-size: 30px;
        }
        &__desc{
            text-align: center;
        }
        .feed-form{
            margin-left: auto;
            margin-right: auto;
        }
    }
    //_____________________________________________Секция "Слайдеры"
    .carousel{
        &__inner{
            width: 550px;
            img{
                width: 100%;
            }
        }
    }
    //________________________________________________Секция "Табы"
    .catalog{
        &__content{
            justify-content: space-evenly;
        }
        .catalog-item{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    //__________________________________________________Секция "Отзывы"
    .reviews{
        &__content{
            margin-left: 30px;
        }
        &__item{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    //________________________________________________Подвал сайта
    .footer{
        &__info{
            width: 400px;
            height: 220px;
            padding: 30px 0 20px 0;
        }
    }
}
@media ( max-width:  767px){
    //___________________________________________________Шапка сайта
    .header{
        &__official{
            display: none;
        }
    }
    //___________________________________________________Секция "Promo"
    .promo{
        min-height: 610px;
        padding-bottom: 40px;
        &__wrapper{
            align-items: center;
        }
    }
    //___________________________________________________Секция "Преимущества"
    .advantages{
        padding-bottom: 0;
        &__supheader{
            font-size: 30px;
        }
        &__item{
            margin-right: 20px;
            
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 60px; 
            }
        }
        &__subheader{
            font-size: 17px;
            margin-top: 20px;
        }
        &__desc{
            font-size: 13px;
            margin-top: 10px;
        }
    }
    //___________________________________________________Секция "Консультация"
    .consultation{
        &__header{
            font-size: 25px;
            line-height: 35px;
        }
    }
    //__________________________________________________Секция "Слайдеры"
    .carousel{
        &__inner{
            width: 450px;
            img{
                width: 100%;
            }
        }
        .slick-prev{
            left: -46px;
        }
        .slick-next{
            right: -46px;
        }
    }
    //_____________________________________________________Секция "Табы"
    .catalog{
        &__tab{
            width: 170px;
            height: 40px;
            font-size: 17px;
            line-height: 40px;
        }
        .catalog-item{
            width: 280px;
        }
    }
    //______________________________________________________Секция "Отзывы"
    .reviews{
        &__item{
            img{
                width: 140px;
                height: auto;
            }
        }
    }
    //_________________________________________Подвал сайта
    .footer{
        &__info{
            width: 350px;
            height: 180px;
        }
        &__address{
            font-size: 17px;
        }
        &__phone{
            font-size: 19px;
            margin-top: 20px;
        }
        &__social{
            margin-top: 30px;
        }
        &__social-item{
            width: 40px;
            height: 40px;
        }
    }
}

@media ( max-width:  580px){
    //_______________________________________________________Шапка сайта
    .header{
        &__logo{
            width: 200px;
        }
    }
    //_______________________________________________________Секция "Promo"
    .promo{
        &__header{
            font-size: 40px;
            text-align: center;
        }
        &__subheader{
            font-size: 15px;
        }
        &__icon{
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    //______________________________________________________Секция "Преимущества"
    .advantages{
        padding: 40px 0 30px 0;
        &__supheader{
            font-size: 25px;
        }
        &__items{
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &__item{
            margin-right: 0;
            margin-top: 30px;
            &:first-child{
                margin-top: 0;
            }
        }
    }
    //___________________________________________________Секция "Консультация"
    .consultation{
        background-position-x: -1000px;
        &__header{
            font-size: 20px;
            line-height: 30px;
        }
        &__desc{
            font-size: 18px;
        }
    }
    //_____________________________________________________Секция "Слайдеры"
    .carousel{
        &__inner{
            width: 280px;
            img{
                width: 100%;
            }
        }
        .slick-prev{
            left: -46px;
        }
        .slick-next{
            right: -46px;
        }
    }
    //_________________________________________________Секция "Табы"
    .catalog{
        &__tab{
            width: 110px;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
        }
    }
    //_______________________________________________Секция "Отзывы"
    .reviews{
        &__item{
           flex-direction: column;
           align-items: center;
        }
        &__content{
            width: 100%;
            margin-left: 0;
        }
        &__supheader{
            text-align: center;
            margin-top: 20px;
            font-size: 23px;
        }
        &__subheader{
            text-align: center;
        }
        &__review{
            margin-right: 10px;
            margin-left: 10px;
            font-size: 15px;
        }
    }
    //_____________________________________________Шапка сайта
    .footer{
        &__info{
            padding: 20px 0;
            height: 155px;
            width: 300px;
        }
        &__phone{
            margin-top: 15px;
        }
        &__social{
            margin-top: 20px;
        }
    }
}

@media ( max-width:  380px){
    //______________________________________________________Шапка сайта
    .header{
        display: flex;
        flex-direction: column;
        &__logo{
            width: 300px;
        }
        &__contacts{
            display: none;
        }
    }
    //_____________________________________________________Первая секция
    .promo{
        background-position-x: -200px;
        padding: 40px 0 30px 0;
        &__header{
            font-size: 25px;
        }
        &__subheader{
            font-size: 13px;
            margin-top: 5px;
        }
        &__icon{
            font-size: 13px;
            height: 80px;
            img{
                width: 37px;
            }
        }
    }
    //___________________________________________________Секция "Консультация"
    .consultation{
        padding: 40px 0 80px 0;
        min-height: 100px;
        &__header{
            font-size: 17px;
            line-height: 25px;
        }
        &__desc{
            font-size: 15px;
            line-height: 20px;
        }
    }
    //_____________________________________________________Секция "Слайдеры"
    .carousel{
        &__inner{
            width: 200px;
            img{
                width: 100%;
            }
        }
        .slick-prev{
            left: -46px;
        }
        .slick-next{
            right: -46px;
        }
    }
    //__________________________________________Секция "Табы"
    .catalog{
        &__tabs{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        &__tab{
            margin-top: 20px;
            width: 220px;
            height: 35px;
            font-size: 15px;
            line-height: 32px;
        }
    }
    .reviews{
        &__header{
            font-size: 25px;
        }
    }
    //___________________________________________________Подвал сайта
    .footer{
        &__info{
            width: 100%;
        }
    }
}