@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/_animate';


//Применение шрифта всему тексту
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
//Ширина контента 950px
.container{
    max-width: 950px;
    margin: 0 auto;
}

@import 'base/variables'; //Подключение переменных
@import 'base/animations'; //Подключение анимации
@import 'blocks/promo';   //Подключение первой секции "Promo"
@import 'blocks/header';  //Подключение шапки сайта
@import 'blocks/button';  //Подключение кнопки
@import 'blocks/advantages'; //Подключение второй секции "Преимущества"
@import 'blocks/consultation'; //Подключение третей секции "Консультация"
@import 'blocks/forms'; //Подключение формы
@import 'blocks/carousel'; //Подключение слайдера
@import 'blocks/catalog'; //Подключение четвертой секции "Каталог"
@import 'blocks/reviews'; //Подключение пятой секции "Отзывы"
@import 'blocks/footer'; //Подключение подвала 
@import 'blocks/modal';  //Подключение модальных окон
@import 'blocks/scrol';  //Подключение скрола
@import 'base/media'; //Подключение медиазапросов