.advantages{
    min-height: 472px;
    padding: 70px 0 78px 0;
    &__supheader{
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__item{
        width: 250px;
        text-align: center;
    }
    &__subheader{
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
    }
    &__desc{
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        margin-top: 26px;
        a{
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &_animated{
        animation: heartbeat 2s ease infinite;
    }
}
